<h1>US Time Zone Display</h1>

<div>
  <button (click)="changeTimeZone('PST')" [ngClass] = "{selected: timeZoneSelected === 'PST'}">PST</button>
  <button (click)="changeTimeZone('MST')" [ngClass] = "{selected: timeZoneSelected === 'MST'}">MST</button>
  <button (click)="changeTimeZone('CST')" [ngClass] = "{selected: timeZoneSelected === 'CST'}">CST</button>
  <button (click)="changeTimeZone('EST')" [ngClass] = "{selected: timeZoneSelected === 'EST'}">EST</button>
  <button (click)="clear()">CLEAR</button>
</div>
<br>

<h2>{{time|date:'medium'}}</h2> <!-- OR: {{time|date:'yMMMdjms'}} -->
